body {
	font-family: helvetica, sans-serif, serif;
}

.main-container {
	width: 100%;
	max-width: 900px;
	margin: auto;
	border: 1px solid #000;
}

h1 {
	font-size: 16px;
	padding: 2px;
	margin-left: 15px;
}